/* Importing fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto&family=Work+Sans&display=swap");

/* Setting global styles for the body */
body {
background-color: #131316;
color: #ffffff;
font-family: "Poppins", sans-serif;
padding: 0;
margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    
  }
  th, td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  th {
    background-color: #009c77;
    color: white;
  } 

.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button_athletes{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}