@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Roboto&family=Work+Sans&display=swap");

body {
  background-color: #131316;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.DAH {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.logos {
  display: flex;
}

.logo:nth-child(2) {
  transition-delay: 200ms;
}

.logo:nth-child(3) {
  transition-delay: 400ms;
}

.logo:nth-child(4) {
  transition-delay: 600ms;
}

.logo {
  background-color: gray;
  border-radius: 15px;
  padding: 1rem;
  margin: 0 0.5rem;
}

.subBTN {
  background-color: #131316;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
}

.subBTN:hover {
  background-color: cyan;
  filter: brightness(90%);
  margin-top: 20px;
}

